// Bootstrap Font
$icon-font-path: "../fonts/bootstrap/";

// Bootstrap
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.img-product {
    margin: $grid-gutter-width auto;
}

.tt-menu {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    .tt-suggestion {
        &:hover {
            cursor: pointer;
        }
    }
}

.site-inner {
    padding: $grid-gutter-width 0;
}